<h1>MUESEUM OF WONDER</h1>
<p>Check out these amazing images and stuff</p>

<%= link_to "See Artists", artists_path %>
<%= link_to "See Museums", museums_path %>

<table cellpadding=4px >
<tr>
  <th bgcolor="#99aaff"><i>Title</i></th>
  <th bgcolor="#aaccff"><i>Artist</i></th>
  <th bgcolor="#99aacc"><i>Museum </i></th>
  <th bgcolor="#99aacc"><i>Image </i></th>
</tr>

<% @paintings.each do |painting| %>
<tr>
   <td><%= painting.title %></td>
   <td><%= painting.artist.name %></td>
   <td><%= painting.museum.name %></td>
   <td><%= image_tag painting.image %></td>
 </tr>
<% end %>
</table>
